<!DOCTYPE html>
<html>
<head>
	<title>Internship Task</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<script src="https://use.fontawesome.com/eb870cce25.js"></script>
</head>
<body>
	<form method="post" action="/">
	<input type="text" id="name" placeholder="Name" name="name">
		<br>
		<button>Sign Up</button>
	</form>
	<div class="allNodes">
		<i class="fa fa-refresh fa-2x" aria-hidden="true"></i>
		<div class="nodes">
		</div>
	</div>
</body>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="https://www.gstatic.com/firebasejs/3.8.0/firebase.js"></script>

<script type="text/javascript" src="/javascripts/script.js"></script>
</html>